.header{
	height:220px;
	width: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	
}

.header__banner{
	height: 150px;
	width: 100%;
	background: linear-gradient(to right, black,black, #f4bb10,#f4bb10);
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	
}

.header__imagem{
	max-width: 1200px;
	display: flex;
	
}

.header__imagem img{
	object-fit: cover;
}

.header__nav{
	height: 70px;
	width: 100%;
}

